/* Core CSS required for Ionic components to work properly */
@import '@ionic/react/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '@ionic/react/css/normalize.css';
@import '@ionic/react/css/structure.css';
@import '@ionic/react/css/typography.css';

/* Optional CSS utils that can be commented out */
/* @import '@ionic/react/css/padding.css'; */
/* @import '@ionic/react/css/float-elements.css'; */
/* @import '@ionic/react/css/text-alignment.css'; */
/* @import '@ionic/react/css/text-transformation.css'; */
/* @import '@ionic/react/css/flex-utils.css'; */
/* @import '@ionic/react/css/display.css'; */

/* Theme variables */
@import '../theme/variables.css';

.ion-button-unstyled {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  width: auto;
  height: auto;
  padding: unset;
  margin: unset;
  font-size: initial;
  font-weight: initial;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .centered {
    @apply flex justify-center items-center;
  }
}

[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: initial;
}

ion-button {
  --border-radius: 14px;
}

.rounded-full {
  --border-radius: 9999px;
}

ion-item.item-input {
  --min-height: auto;
  --padding-start: 4px;
}

ion-input,
input {
  --tw-text-opacity: 1;
  --placeholder-color: rgba(156, 163, 175, var(--tw-text-opacity));
}

.calendar-picker-ion-modal {
  --width: 336px;
  --height: 452px;
  --min-height: 452px;
  --border-radius: 20px;
}
